@import url('http://fonts.googleapis.com/css?family=Open+Sans');

 body {
    padding-top: 10px;
    font-family: 'Open Sans';
}

.red {
    color: #bd0e0e;
}

.section-index {
    height: 100vh;
    padding-top: 15%;
    background: url(img/bg-index.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-index h1 {
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    text-shadow: black 2px 2px 2px;
}
.section-index h2 {
    color: #d62929;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
    text-shadow: #6c5656 1px 1px 1px ;
}
.section-education {
    height: 100vh;
    padding-top: 150px;
    background: #B3C3FA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-education p{
    color: red;
    
}
.section-education h1{
    color: white;
    text-align: center;
}
.section-skills {
    height: 100vh;
    padding-top: 150px;
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section-experiences {
    height: 100vh;
    padding-top: 150px;
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.section-contact {
    height: 100vh;
    padding-top: 150px;
    background: url(img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.p-education {
    color: white;
    font-size: 15px;
}
